@{
    //ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema Gestión Electrodomésticos</h1>
    <p class="lead">Gestione sus electrodomésticos para el uso más eficiente de los mismos.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Muestra para Entrega</h2>
        <p>Clientes</p>
        <p>
            @Html.ViewData["Clientes"]
        </p>
        <p>Administradores</p>
        <p>
            @Html.ViewData["Administradores"]
        </p>
        <p>Dispositivos</p>
        <p>
            @Html.ViewData["Dispositivos"]
        </p>
        <p>
        <p>Resultado Simplex</p>
        <p>
            @Html.ViewData["ResultadoSimplex"]
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>